@media screen and (max-height:320px){
    body{
        overflow: scroll;
        height: fit-content;
    }
}

@media screen and (max-width:285px){
    body{
        height: fit-content;
    }
}

@media screen and (max-width:320px){
    body{
        overflow-y: scroll;
    }
    
    .testimonials{
        margin-top: 0;
    }

    .testimonial{
        padding: 0;
    }

    .testimonial p{
        width:initial;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (min-height:650px){
    .person{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
}

@media screen and (min-width:1075px){
    .person{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        background-size: 60% 30%;
        position: relative;
    }

    .testimonial{
        margin: 0;
    }

    .testimonials{
        width: 400px;
        height: 250px;
        z-index: 1;
        background-position: 70px top;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .testimonial p{
        width: 500px;
        text-align: left;
        margin: 0;
        font-size: 25px;
    }
    
    .main-userpic{
        position: relative;
        height:fit-content;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-userpic img{
        width: 550px;
        height: 470px;
        max-width: initial;
        box-shadow: 0px 0px 14px 0px rgba(168,158,168,1);
    }

    .main-bg{
        background-size: contain;
        background-position: center;
        width: 620px;
        height: 100vh;
    }

    .user-details{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .user-details h2{
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .button-container{
        left: initial; 
        right: initial; 
        margin-left: initial; 
        margin-right: initial;
        left: 50px;
    }
}